.header{
    height: 100px;
    background-color: #19222E;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo :Link{
    text-decoration: none;
}

.logo h2{
    color: whitesmoke;
}